/* all element margin, padding remove */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body default font & background */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #000;
}

/* headings default size clean */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* list clean */
ul, ol {
  list-style: none;
}

/* anchor tag clean */
a {
  text-decoration: none;
  color: inherit;
}

// image clean
img {
  max-width: 100%;
  display: block;
}
