// header scss
// variables.scss path
@use '../abstracts/variables' as var;
@use '../abstracts/fontsFamily' as fonts;

/* all element margin, padding remove */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}
/* list clean */
ul,
ol {
  list-style: none;
}
/* anchor tag clean */
a {
  text-decoration: none;
}
// header scss start
.bg-custom {
  background-color: #373737;
  padding: 24px 0px;

  .subscribe {
    color: var.$secondary-color;
    font-weight: var.$font-weight-bold;
    font-size: var.$font-size-lg;
    line-height: 20px;
  }
  .navbar-brand img {
    width: 169px;
    height: 55px;
  }
  .subscribe-item {
    gap: 32px;
  }

  .header-btn {
    background-color: var.$secondary-color;
    color: var.$background-color;
    font-family: fonts.$font-family-base;
    width: 97px;
    height: 48px;
    padding: 15px 26px;
    border-radius: 1000px;
    font-size: var.$font-size-lg;
    font-weight: var.$font-weight-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    border: none;
  }
}

// bannar scss start

.banar {
  background-image: url('../layout/bannar.png');
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0px auto;
  height: 761px;
  display: flex;

  .bannar-content {
    max-width: 946.85px;
    margin-left: 40px;
    margin-top: -200px;
    h2 {
      font-size: 61px;
      font-weight: 800;
      line-height: 68px;
    }
    .text-left {
      margin-left: -20px;
      font-size: 67px;
    }
    p {
      font-size: 27px;
      margin-top: 15px;
      line-height: 36px;
    }
  }
}

// product scss start
.custom-padding {
  padding: 80px 0px;

  .product-image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
  h2 {
    font-size: var.$font-size-base;
    line-height: 52px;
    font-weight: var.$font-weight-extrabold;
  }
  .product-left {
    margin-right: 80px;
  }
  .product-right {
    margin-left: 100px;
  }
  .product-right img {
    width: 278.88px;
    height: 109.8px;
  }
  .item-tow {
    margin-top: -160px;
  }
}

// Gallery scss start

.gallery {
  .small-images img {
    width: 234px;
    height: 228px;
  }
  .custom-gap {
    gap: 36px;
  }
  .center-image img {
    width: 904px;
    height: 491px;
  }
}

// favorite strain  scss start

.gstrain-section {
  h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: var.$font-weight-bold;
    letter-spacing: -1%;
  }
  .custom-bg {
    background-color: #373737;
    padding: 20px 0px;
    gap: 56px;
  }
  .coustom-width {
    width: 70%;
    margin: 0px auto;
    p {
      font-size: 21px;
      line-height: 32px;
      font-weight: var.$font-weight-medium;
      margin-top: 40px;
    }
  }
  .step-circle {
    width: 72px;
    height: 72px;
    margin: auto;
    border-radius: 50%;
    font-weight: var.$font-weight-extrabold;
    font-size: var.$font-size-base;
  }
}

// order scss start
.order-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url('../layout/f3.jpg') no-repeat right center/cover;
  height: 411px;
  padding: 0 80px;

  .order-content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  h2 {
    font-size: var.$font-size-base;
    font-weight: var.$font-weight-extrabold;
    line-height: 52px;
    margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: var.$font-weight-bold;
    margin: 0;
  }






}


// advanced-tech scss start
.advanced-tech {
  padding: 80px 0;

  h2 {
    font-size: var.$font-size-base;
    font-weight: var.$font-weight-extrabold;
    line-height: 52px;
    text-align: center;
    margin-bottom: 60px;
  }

  .tech-card {
    background-size: cover;
    background-position: center;
    margin: 15px auto;
    width: 100%;
    max-width: 700px;
    min-height: 368px;
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;

    .icon {
      width: 80px;
      height: 80px;
      margin-bottom: 25px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    h5 {
      font-size: 21px;
      font-weight: var.$font-weight-bold;
      line-height: 32px;
      margin-bottom: 15px;
    }

    p {
      font-size: 21px;
      line-height: 32px;
      font-weight: var.$font-weight-medium;
      margin-bottom: 0;
    }
  }

  // Background Images
  .bg-led { background-image: url('/public/images/bg-1.png'); }
  .bg-climate { background-image: url('/public/images/bg-2.png'); }
  .bg-irrigation { background-image: url('/public/images/bg-3.png'); }
  .bg-app { background-image: url('/public/images/bg-4.png'); }
}



//  carbon-system scss start
.carbon-system {
  .background-color{
     background-color: #1C1C1C;
  }

  .feature-list-one {
    li {
      position: relative;
      padding-left: 1.5rem;
      color: #bdbdbd;
      font-size: 16px;
      line-height: 20px;
      font-weight: var.$font-weight-regular;
      margin-bottom: 36px;

      &::before {
        content: '•';
        color: #ffcc00;
        position: absolute;
        left: 5px;
        top: 0;
        font-size: 21px;
        line-height: 1;
      }

      strong {
        display: block;
        color: #fff;
        font-size: 21px;
        line-height: 32px;
        font-weight: var.$font-weight-bold;
        margin-bottom: 3px;
      }
      .small-img {
        width: 346px;
        height: 492px;
      }
    }
  }
  .feature-list-two {
    margin-left: -35px;

    p {
      font-size: 21px;
      line-height: 32px;
      font-weight: var.$font-weight-bold;
      text-align: left;
      margin-left: 72px;
    }

    li {
      position: relative;
      padding-left: 67px;

      &::before {
        content: '•';
        color: #bdbdbd;
        position: absolute;
        left: 47px;
        top: 3px;
        font-size: 16px;
        line-height: 1;
      }

      strong {
        display: block;
        color: #bdbdbd;
        font-size: 16px;
        line-height: 20px;
        font-weight: var.$font-weight-regular;
        margin-bottom: 16px;
      }
    }
    .small-img-two img {
      width: 235px;
      height: 90px;
      margin-left: 20px;
    }
  }
}
// proven components scss start
.proven-component {
  .component {
    background-color: #1C1C1C;
    padding:40px 0px ;
    img {
      gap: 134px;
    }
    h2 {
      font-size: 27px;
      line-height: 36px;
      font-weight: var.$font-weight-bold;
    }
  }
}
// newsletter-section scss start
.newsletter-section {
  .newsletter-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: #373737;
    padding: 40px 40px;
    flex-wrap: wrap;
  }

  .text-content {
    flex: 1;

    h5 {
      font-weight: 600;
      margin-bottom: 5px;
    }
    p {
      font-size: 16px;
      line-height: 20px;
      font-family: var.$font-weight-regular;
      margin: 0;
    }
  }
  .newsletter-form {
    flex: 1;
    display: flex;
    .input-group {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: #1c1c1c;
      border-radius: 8px;
      width: 519px;
      height: 48px;
    }

    input {
      flex: 1;
      background: transparent;
      border: none;
      outline: none;
      padding: 10px 40px 10px 12px;
      font-size: 14px;
      border-radius: 8px;

      &::placeholder {
        color: #bdbdbd;
        font-size: 16px;
        line-height: 20px;
        font-weight: var.$font-weight-regular;
      }
    }
    .mail-icon {
      position: absolute;
      right: 110px;
      width: 16px;
      height: 16px;
    }
  }
}

// chat support section scss start
.chat-support {
  text-align: center;
  color: #fff;

  img {
    width: 152px;
    height: 105px;
    display: block;
    margin: 0 auto 20px;
  }

  h2 {
    font-size: 27px;
    line-height: 36px;
    font-weight: var.$font-weight-bold;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: var.$font-weight-medium;
    margin-bottom: 30px;
  }

  .item {
    background-color: #1C1C1C;
    padding: 48px 24px;
    height: 188px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
      font-size: 27px;
      line-height: 36px;
      font-weight: var.$font-weight-bold;
      margin-bottom: 12px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      font-weight: var.$font-weight-regular;
    }

  }
}






.faq-section {
  padding: 60px 0;
  background: transparent;

  .faq-container {
    width: 1040px;
    height: 488px;
    margin: 0 auto;

    h2 {
      font-size: var.$font-size-base;
      font-weight: var.$font-weight-extrabold;
      line-height: 52px;
    }

    .accordion {
      .accordion-item {
        border: none;
        margin-bottom: 14px;
        overflow: hidden;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.05);

        .accordion-button {
          background: rgba(255, 255, 255, 0.05);
          color: #fff;
          font-size: 21px;
          line-height: 32px;
          font-weight: var.$font-weight-medium;
          box-shadow: none;
          padding: 16px 20px;
          display: flex;
          align-items: center;
          border: none;
          transition: all 0.3s ease;

          &::after {
            display: none;
          }

          .icon {
            display: inline-block;
            width: 56px;
            height: 56px;
            margin-right: 32px;
            background: url('/public/icons/icon-2.png') no-repeat center center;
            background-size: contain;
            transition: transform 0.3s ease;
          }

          &:not(.collapsed) .icon {
            transform: rotate(180deg);
          }

          &:not(.collapsed) {
            background: rgba(255, 255, 255, 0.05);
            color: #fff;
          }
        }

        .accordion-body {
          background: rgba(255, 255, 255, 0.05); // same bg as question
          font-size: 16px;
          line-height: 20px;
          font-weight: var.$font-weight-regular;
          padding: 15px 20px 20px 110px;
        }
      }
    }
  }
}

// order section two scss start
.order-section-two {
  text-align: center;
 padding-top: 210px;
 padding-bottom: 80px;

  h2 {
    font-size: 47px;
    line-height: 52px;
    font-weight: var.$font-weight-extrabold;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: var.$font-weight-bold;
    margin-bottom: 48px;

  }
}

// footer scss start
.footer-section {
  .footer-logo-img {
    width: 169px;
    height: 55px;
  }
  .footer-links {
    a {
      color: #ffcc00;
      font-size: 16px;
      font-weight: var.$font-weight-bold;
      line-height: 20px;
      padding: 0px 30px;
      position: relative;
      &::after {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url('/public/icons/Button.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-child::after {
        content: '';
      }
    }
  }
  p {
    font-size: 21px;
    line-height: 32px;
    font-weight: var.$font-weight-medium;
  }
}

// header responsive

.bg-custom {
  @media (max-width: 1200px) {
    padding: 20px 0;
    .navbar-brand img {
      width: 140px;
      height: auto;
    }
  }

  @media (max-width: 960px) {
    padding: 18px 0;
    .navbar-brand img {
      width: 110px;
      height: 38px;
    }
  }

  @media (max-width: 770px) {
    background-color: #1c1c1c !important;
    padding: 16px 0;
    .navbar-brand img {
      width: 98.33px;
      height: 32px;
    }
  }
}
//  bannar Responsive
.banar {
  @media (max-width: 770px) {
    .para-text {
      display: none !important;
    }
  }

  @media (max-width: 500px) {
    background-image: url('../layout/bannar-two.png');
    background-position: center center;
    background-size: cover;
    width: auto;
    height: 400.02px;
    position: relative;

    .bannar-content {
      background-color: #373737;
      width: 320px;
      height: 308px;
      margin: 0px auto;
      padding: 20px 20px;
      position: absolute;
      top: 376px;
      left: 42px;
      z-index: 99;

      h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -1%;
        margin: 0px;
        text-align: center;
      }

      .text-left {
        font-size: 30px;
        margin-left: 1px;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin: 20px 0px;
        text-align: center;
      }

      .custom-btn {
        margin-top: 0px !important;
        font-size: 16px;
        padding: 10px 24px;
        margin: auto;
      }
    }
  }
}

// Product responsive

.custom-padding {
  @media (max-width: 1300px) {
    .product-image img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      margin-top: 0px !important;
    }

    h2 {
      font-size: 28px;
      line-height: 38px;
      padding: 10px 0px;
      margin-left: 80px;
    }
  }

  @media (max-width: 770px) {
    padding: 20px 0px;

    .container-xxl {
      flex-direction: column !important;
      align-items: center;
      text-align: center;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin: 0 !important;
      width: 100% !important;
    }
    .Product-margin {
      margin-top: 310px !important;
    }

    .col-4,
    .col-5,
    .col-7,
    .col-8 {
      width: 100% !important;
      margin: 0;
      padding: 0 !important;
    }

    .product-image img,
    .product-right img {
      width: 390px;
      height: 374px;
      margin: 0;
    }

    .product-content {
      margin-top: -85px;
      padding: 0 15px;
      h2 {
        width: 342px;
        height: 140px;
        background-color: #373737;
        padding: 16px 24px;
        text-align: center;
        font-size: 27px;
        line-height: 36px;
        font-weight: 700;
        margin: auto;
      }
      .product-right-tow {
        width: 342px;
        height: 240px;
        background-color: #373737;
        padding: 30px 24px;
        text-align: center;
        font-size: 27px;
        line-height: 36px;
        font-weight: 700;
        margin: auto;
      }
    }

    .item-tow {
      margin-top: 0 !important;
      flex-direction: column !important;
    }
  }
}

//  Gallery responsive
.gallery {
  @media (max-width: 992px) {
    .small-images {
      display: none;
    }
    .center-image {
      width: 100% !important;
    }
  }
}
// gstrain responsive

.gstrain-section {
  @media (max-width: 992px) {
    .coustom-width {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px 0;
    }

    .col-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 576px) {
    .col-4 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 25px;
    }

    .step-circle {
      width: 70px;
      height: 70px;
      font-size: 28px;
    }
  }
}
// order-section responsive

@media (max-width: 992px) {
  .order-section {
    padding: 90px 20px;
    .order-content h2 {
      font-size: 38px;
    }
    .order-content p {
      font-size: 18px;
    }
  }
}

@media (max-width: 576px) {
  .order-section {
    padding: 70px 15px;
    .order-content h2 {
      font-size: 30px;
    }
    .order-content p {
      font-size: 16px;
    }
    .order-content .custom-btn {
      font-size: 18px;
      padding: 12px 32px;
    }
  }
}

//  advanced-tech
@media (max-width: 992px) {
  .advanced-tech h2 {
    font-size: 32px;
  }

  .advanced-tech .tech-card {
    padding: 30px;
  }

  .advanced-tech .tech-card .icon img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .advanced-tech h2 {
    font-size: 26px;
  }

  .advanced-tech .tech-card {
    padding: 22px;
    text-align: center;
  }

  .advanced-tech .tech-card p {
    font-size: 15px;
  }
}

// carbon-system

// @media (max-width: 1440px) {
//   .carbon-system .small-img {
//     width: 230px;
//   }
//   .carbon-system .small-img-two {
//     width: 180px;
//   }
// }

@media (max-width: 992px) {
  .carbon-system {
    .row {
      text-align: center;
    }

    .feature-list-two {
      margin-top: 25px;
    }

    .small-img-two {
      margin: 20px auto 0 auto;
      display: block;
    }
  }
}

@media (max-width: 576px) {
  .carbon-system {
    .small-img {
      width: 200px;
    }

    .feature-list-one li,
    .feature-list-two ul li {
      font-size: 15px;
    }

    .feature-list-two {
      padding: 18px;
    }
  }
}
// proven components

@media (max-width: 992px) {
  .proven-component {
    .component h2 {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 576px) {
  .proven-component {
    padding: 60px 0;

    .component h2 {
      font-size: 24px;
    }

    img {
      max-width: 80%;
    }
  }
}

// newsletter

@media (max-width: 992px) {
  .newsletter-section {
    .newsletter-box {
      flex-direction: column;
      text-align: center;
      padding: 35px 25px;
    }

    .newsletter-form {
      flex-direction: column;
      width: 100%;

      .input-group input {
        width: 100%;
      }

      .custom-btn-two {
        width: 100%;
      }
    }
  }
}

@media (max-width: 576px) {
  .newsletter-section {
    .text-content h5 {
      font-size: 18px;
    }

    .text-content p {
      font-size: 14px;
    }
  }
}

// chat support

@media (max-width: 992px) {
  .chat-support {
    h2 {
      font-size: 30px;
    }

    .row > div {
      padding: 30px 20px !important;
    }
  }
}

@media (max-width: 576px) {
  .chat-support {
    padding: 60px 0;

    img {
      width: 70px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 18px;
    }

    p {
      font-size: 15px;
    }

    .row > div {
      padding: 22px 15px !important;
    }

    h3 {
      font-size: 18px;
    }

    .custom-size {
      font-size: 14px;
    }
  }
}



// order section
