// Custom variables & fonts
@use './abstracts/variables' as var;
@use './abstracts/fontsFamily' as fonts;
@use './components/button' as *;

// Bootstrap override & import
@use "bootstrap" with (
  $container-max-widths: (
    sm: 390px,
    md: 720px,
    lg: 960px,
    xl: 1200px,
    xxl: 1440px,
  )
);

// Pages / Layout
@import './layout/header.scss';



// Body style
body {
  background-color: var.$background-color;
  font-family: fonts.$font-family-base;
}

// Custom classes
.subscribe {
  color: var.$secondary-color;
}

.bg-custom {
  background-color: #373737;
}

.custom-button {
  background-color: var.$secondary-color;
  color: var.$background-color;
  font-family: fonts.$font-family-base;
  width: 97px;
  height: 48px;
  padding: 0 24px;
  border-radius: 100px;
  font-size: var.$font-size-lg;
  font-weight: var.$font-weight-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  border: none;
}
